In [1]:
from pathlib import Path

In [2]:
# Setting the path 
data_path = Path('dataset.csv')

In [3]:
#Reading the Data and copying of the data to work on named as df
import pandas as pd
df_original = pd.read_csv(data_path)
df= df_original

In [4]:
df.head(5)

,encounter_id,patient_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,icu_admit_source,...,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem,Unnamed: 83,hospital_death
0,66154,25312,118,68.0,22.73,0,Caucasian,M,180.3,Floor,...,1.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular,NaN,0
1,114252,59342,81,77.0,27.42,0,Caucasian,F,160.0,Floor,...,1.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory,NaN,0
2,119783,50777,118,25.0,31.95,0,Caucasian,F,172.7,Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic,NaN,0
3,79267,46918,118,81.0,22.64,1,Caucasian,F,165.1,Operating Room / Recovery,...,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular,NaN,0
4,92056,34377,33,19.0,NaN,0,Caucasian,M,188.0,Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,Trauma,Trauma,NaN,0

In [5]:
df.shape

(91713, 85)

In [6]:
df.dtypes.unique()

array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object)

## Stats part begins

In [7]:
df.columns

Index(['encounter_id', 'patient_id', 'hospital_id', 'age', 'bmi',
       'elective_surgery', 'ethnicity', 'gender', 'height', 'icu_admit_source',
       'icu_id', 'icu_stay_type', 'icu_type', 'pre_icu_los_days', 'weight',
       'apache_2_diagnosis', 'apache_3j_diagnosis', 'apache_post_operative',
       'arf_apache', 'gcs_eyes_apache', 'gcs_motor_apache',
       'gcs_unable_apache', 'gcs_verbal_apache', 'heart_rate_apache',
       'intubated_apache', 'map_apache', 'resprate_apache', 'temp_apache',
       'ventilated_apache', 'd1_diasbp_max', 'd1_diasbp_min',
       'd1_diasbp_noninvasive_max', 'd1_diasbp_noninvasive_min',
       'd1_heartrate_max', 'd1_heartrate_min', 'd1_mbp_max', 'd1_mbp_min',
       'd1_mbp_noninvasive_max', 'd1_mbp_noninvasive_min', 'd1_resprate_max',
       'd1_resprate_min', 'd1_spo2_max', 'd1_spo2_min', 'd1_sysbp_max',
       'd1_sysbp_min', 'd1_sysbp_noninvasive_max', 'd1_sysbp_noninvasive_min',
       'd1_temp_max', 'd1_temp_min', 'h1_diasbp_max', 'h1_diasbp_min',
       'h1_diasbp_noninvasive_max', 'h1_diasbp_noninvasive_min',
       'h1_heartrate_max', 'h1_heartrate_min', 'h1_mbp_max', 'h1_mbp_min',
       'h1_mbp_noninvasive_max', 'h1_mbp_noninvasive_min', 'h1_resprate_max',
       'h1_resprate_min', 'h1_spo2_max', 'h1_spo2_min', 'h1_sysbp_max',
       'h1_sysbp_min', 'h1_sysbp_noninvasive_max', 'h1_sysbp_noninvasive_min',
       'd1_glucose_max', 'd1_glucose_min', 'd1_potassium_max',
       'd1_potassium_min', 'apache_4a_hospital_death_prob',
       'apache_4a_icu_death_prob', 'aids', 'cirrhosis', 'diabetes_mellitus',
       'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma',
       'solid_tumor_with_metastasis', 'apache_3j_bodysystem',
       'apache_2_bodysystem', 'Unnamed: 83', 'hospital_death'],
      dtype='object')

In [8]:
# Seeing the columns with null values only:
def null_value_column(A):
    null_list = []
    for col in A.columns:
        if A[col].isnull().sum()>0:
            null_list.append(col)
    return null_list

In [9]:
null_value_column(df)

['age',
 'bmi',
 'ethnicity',
 'gender',
 'height',
 'icu_admit_source',
 'weight',
 'apache_2_diagnosis',
 'apache_3j_diagnosis',
 'arf_apache',
 'gcs_eyes_apache',
 'gcs_motor_apache',
 'gcs_unable_apache',
 'gcs_verbal_apache',
 'heart_rate_apache',
 'intubated_apache',
 'map_apache',
 'resprate_apache',
 'temp_apache',
 'ventilated_apache',
 'd1_diasbp_max',
 'd1_diasbp_min',
 'd1_diasbp_noninvasive_max',
 'd1_diasbp_noninvasive_min',
 'd1_heartrate_max',
 'd1_heartrate_min',
 'd1_mbp_max',
 'd1_mbp_min',
 'd1_mbp_noninvasive_max',
 'd1_mbp_noninvasive_min',
 'd1_resprate_max',
 'd1_resprate_min',
 'd1_spo2_max',
 'd1_spo2_min',
 'd1_sysbp_max',
 'd1_sysbp_min',
 'd1_sysbp_noninvasive_max',
 'd1_sysbp_noninvasive_min',
 'd1_temp_max',
 'd1_temp_min',
 'h1_diasbp_max',
 'h1_diasbp_min',
 'h1_diasbp_noninvasive_max',
 'h1_diasbp_noninvasive_min',
 'h1_heartrate_max',
 'h1_heartrate_min',
 'h1_mbp_max',
 'h1_mbp_min',
 'h1_mbp_noninvasive_max',
 'h1_mbp_noninvasive_min',
 'h1_resprate_max',
 'h1_resprate_min',
 'h1_spo2_max',
 'h1_spo2_min',
 'h1_sysbp_max',
 'h1_sysbp_min',
 'h1_sysbp_noninvasive_max',
 'h1_sysbp_noninvasive_min',
 'd1_glucose_max',
 'd1_glucose_min',
 'd1_potassium_max',
 'd1_potassium_min',
 'apache_4a_hospital_death_prob',
 'apache_4a_icu_death_prob',
 'aids',
 'cirrhosis',
 'diabetes_mellitus',
 'hepatic_failure',
 'immunosuppression',
 'leukemia',
 'lymphoma',
 'solid_tumor_with_metastasis',
 'apache_3j_bodysystem',
 'apache_2_bodysystem',
 'Unnamed: 83']

In [10]:
'''There exists a column that is unnamed so we don't know about the data.
So I am planning to drop it'''
unnamed_cols = df.columns[df.columns.str.contains('Unnamed')]
df.drop(unnamed_cols, axis=1, inplace=True)

In [11]:
'''There are some columns which are not of that much use when we want to predict the Survival Rate,so dropping them at once'''
df.drop(['ethnicity', 'icu_admit_source', 'icu_id', 'icu_stay_type', 'icu_type', 'encounter_id', 'patient_id', 'hospital_id'], inplace=True, axis=1)

In [12]:
# Seeing the percentage of missing values in each column and storing it in a dictionary:
def percentage_of_missing_values(A):
    num_rows = A.shape[0]
    results = {}
    for col in A.columns:
        null_count = A[col].isnull().sum()
        if null_count > 0:
            percentage = (null_count / num_rows) * 100
            final_percentage = round(percentage,2)
            results[col] = final_percentage
    return results

In [13]:
missing_percent = percentage_of_missing_values(df)
print(missing_percent)

{'age': np.float64(4.61), 'bmi': np.float64(3.74), 'gender': np.float64(0.03), 'height': np.float64(1.45), 'weight': np.float64(2.97), 'apache_2_diagnosis': np.float64(1.81), 'apache_3j_diagnosis': np.float64(1.2), 'arf_apache': np.float64(0.78), 'gcs_eyes_apache': np.float64(2.07), 'gcs_motor_apache': np.float64(2.07), 'gcs_unable_apache': np.float64(1.13), 'gcs_verbal_apache': np.float64(2.07), 'heart_rate_apache': np.float64(0.96), 'intubated_apache': np.float64(0.78), 'map_apache': np.float64(1.08), 'resprate_apache': np.float64(1.35), 'temp_apache': np.float64(4.48), 'ventilated_apache': np.float64(0.78), 'd1_diasbp_max': np.float64(0.18), 'd1_diasbp_min': np.float64(0.18), 'd1_diasbp_noninvasive_max': np.float64(1.13), 'd1_diasbp_noninvasive_min': np.float64(1.13), 'd1_heartrate_max': np.float64(0.16), 'd1_heartrate_min': np.float64(0.16), 'd1_mbp_max': np.float64(0.24), 'd1_mbp_min': np.float64(0.24), 'd1_mbp_noninvasive_max': np.float64(1.61), 'd1_mbp_noninvasive_min': np.float64(1.61), 'd1_resprate_max': np.float64(0.42), 'd1_resprate_min': np.float64(0.42), 'd1_spo2_max': np.float64(0.36), 'd1_spo2_min': np.float64(0.36), 'd1_sysbp_max': np.float64(0.17), 'd1_sysbp_min': np.float64(0.17), 'd1_sysbp_noninvasive_max': np.float64(1.12), 'd1_sysbp_noninvasive_min': np.float64(1.12), 'd1_temp_max': np.float64(2.53), 'd1_temp_min': np.float64(2.53), 'h1_diasbp_max': np.float64(3.95), 'h1_diasbp_min': np.float64(3.95), 'h1_diasbp_noninvasive_max': np.float64(8.01), 'h1_diasbp_noninvasive_min': np.float64(8.01), 'h1_heartrate_max': np.float64(3.04), 'h1_heartrate_min': np.float64(3.04), 'h1_mbp_max': np.float64(5.06), 'h1_mbp_min': np.float64(5.06), 'h1_mbp_noninvasive_max': np.float64(9.9), 'h1_mbp_noninvasive_min': np.float64(9.9), 'h1_resprate_max': np.float64(4.75), 'h1_resprate_min': np.float64(4.75), 'h1_spo2_max': np.float64(4.56), 'h1_spo2_min': np.float64(4.56), 'h1_sysbp_max': np.float64(3.94), 'h1_sysbp_min': np.float64(3.94), 'h1_sysbp_noninvasive_max': np.float64(8.0), 'h1_sysbp_noninvasive_min': np.float64(8.0), 'd1_glucose_max': np.float64(6.33), 'd1_glucose_min': np.float64(6.33), 'd1_potassium_max': np.float64(10.45), 'd1_potassium_min': np.float64(10.45), 'apache_4a_hospital_death_prob': np.float64(8.67), 'apache_4a_icu_death_prob': np.float64(8.67), 'aids': np.float64(0.78), 'cirrhosis': np.float64(0.78), 'diabetes_mellitus': np.float64(0.78), 'hepatic_failure': np.float64(0.78), 'immunosuppression': np.float64(0.78), 'leukemia': np.float64(0.78), 'lymphoma': np.float64(0.78), 'solid_tumor_with_metastasis': np.float64(0.78), 'apache_3j_bodysystem': np.float64(1.81), 'apache_2_bodysystem': np.float64(1.81)}

In [14]:
# Min and Max values in the dict.
import numpy as np
min_val = min(missing_percent.values())
max_val = max(missing_percent.values())

# Finding all columns with min/max
min_cols = [col for col, val in missing_percent.items() if val == min_val]
max_cols = [col for col, val in missing_percent.items() if val == max_val]

print(f"The minimum value is {min_val}, appearing in columns: {', '.join(min_cols)}.")
print(f"The maximum value is {max_val}, appearing in columns: {', '.join(max_cols)}.")

The minimum value is 0.03, appearing in columns: gender.
The maximum value is 10.45, appearing in columns: d1_potassium_max, d1_potassium_min.

In [15]:
'''There are not much missing values so we can imputate the data with it's mean or can simply drop it.-->
So the plan is to make 2 seperate datasets -->
1. Dropped Values.
2. Imputation with its mean,mode for objects or strings'''

"There are not much missing values so we can imputate the data with it's mean or can simply drop it.-->\nSo the plan is to make 2 seperate datasets -->\n1. Dropped Values.\n2. Imputation with its mean,mode for objects or strings"

In [16]:
df_dropped_values = df.copy()
df_imputated_values = df.copy()

In [17]:
#Imputation with the mean for int,float types and mode for string types.
def imputation(A):
    for col in A.columns:
        if A[col].dtype in ['int64', 'float64']:
            A[col] = A[col].fillna(A[col].mean())
        else:
            A[col] = A[col].fillna(A[col].mode()[0])
    return A

In [18]:
imputation(df_imputated_values)
df_imputated_values.to_csv('df_imputated_values.csv',index=False)

In [19]:
df_imputated_values.shape

(91713, 76)

In [20]:
#Dropping the values.
df_dropped_values = df_dropped_values.dropna()

In [22]:
df_dropped_values.shape

(57596, 76)

In [27]:
#One Hot encoding
categorical_cols = df_dropped_values.select_dtypes(include='object').columns
df_dropped_values = pd.get_dummies(df_dropped_values, columns=categorical_cols)

categorical_cols = df_imputated_values.select_dtypes(include='object').columns
df_imputated_values = pd.get_dummies(df_imputated_values, columns=categorical_cols)

In [29]:
#Saving the dataframes.
df_dropped_values.to_csv('df_dropped_values.csv',index=False)
df_imputated_values.to_csv('df_imputated_values.csv',index=False)